.home-header {
	background-color: $light-orange;
	border-bottom: $dark-orange solid 4px;
	height: 20%;
	padding: 20px 10% 15px 5%
}

.title-text{
	color: $grey-text;
	font-family: $title-font;
	font-size: 36pt;
	font-style: italic;
	display: inline-block;
	width: 70%;
}

.login-button{
	display: inline-block;
	margin-left:10%;
	font-size:14pt;
	font-family: $title-font;
	color: $grey-text;
	text-decoration: none;
	&:hover{
		color: $header-hover-text;
	}
}

#main-image{
	display: block;
	width:100%;
	& img{
		width: 100%;
	}
}